{% extends 'InventarioBundle::layout.html.twig' %}
{% block titulo %}
    Edición
{% endblock %}

{% block body -%}
    {% for flashMessage in app.session.flashbag.get('notice') %}

        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flashMessage }}
        </div>

    {% endfor %}
    <div class="row">
        <div class="col-lg-12">
            {#<div class="panel panel-default">#}
            <div class="chat-panel panel panel-primary chat-boder chat-panel-head">
                <div class="panel-heading">
                    Datos del bien
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        {#<div class="col-lg-6">#}
                        {{ form_start(edit_form) }}
                        {{ form_errors(edit_form) }}

                        <div class="form-group col-lg-6">

                            {{ form_label(edit_form.inventario,'Numero de inventario:') }}
                            {{ form_errors(edit_form.inventario) }}
                            {{ form_widget(edit_form.inventario,{'attr':{'class':'form-control'}}) }}

                        </div>

                        <div class="form-group col-lg-6">

                            {{ form_label(edit_form.sicop,'Folio:') }}
                            {{ form_errors(edit_form.sicop) }}
                            {{ form_widget(edit_form.sicop,{'attr':{'class':'form-control'}}) }}

                        </div>


                        <div class="form-group col-lg-6">
                            {{ form_label(edit_form.adquisicion,'Fecha:') }}
                            {{ form_errors(edit_form.adquisicion) }}
                            {# {{ form_widget(form.fecha) }} #}
                            <div ng-controller="DatepickerCtrl" class="row" ng-init="fecha='{% if entity.adquisicion %}{{ entity.adquisicion|date("d-m-Y") }}{% endif %}';">
                                {#<div>
                                    {{ form_label(form.fecha,'Fecha:') }}
                                </div>
                                <div>
                                    {{ form_errors(form.fecha) }}
                                </div>#}
                                <div class="col-md-6">
                                    <p class="input-group">
                                        <input type="date" id="ccm_inventariobundle_bien_adquisicion" name="ccm_inventariobundle_bien[adquisicion]" {# required="required" #} class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="fecha" is-open="opened" min-date="minDate" max-date="'2017-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="false" close-text="Close"/>
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                                    </p>
                                </div>
                                {% do edit_form.adquisicion.setRendered %}
                            </div>
                        </div>

                        <div class="form-group col-lg-6">

                            {{ form_label(edit_form.descripcion,'Descripción:') }}
                            {{ form_errors(edit_form.descripcion) }}
                            {{ form_widget(edit_form.descripcion,{'attr':{'class':'form-control'}}) }}

                        </div>

                        <div class="form-group col-lg-6">

                            {{ form_label(edit_form.marca,'Marca:') }}
                            {{ form_errors(edit_form.marca) }}
                            {{ form_widget(edit_form.marca,{'attr':{'class':'form-control','placeholder':'No requerido'}}) }}

                        </div>
                        <div class="form-group col-lg-6">

                            {{ form_label(edit_form.modelo,'Modelo:') }}
                            {{ form_errors(edit_form.modelo) }}
                            {{ form_widget(edit_form.modelo,{'attr':{'class':'form-control','placeholder':'No requerido'}}) }}

                        </div>
                        <div class="form-group col-lg-6">

                            {{ form_label(edit_form.serie,'Serie:') }}
                            {{ form_errors(edit_form.serie) }}
                            {{ form_widget(edit_form.serie,{'attr':{'class':'form-control','placeholder':'No requerido'}}) }}

                        </div>
                        <div class="form-group col-lg-6">

                            {{ form_label(edit_form.comentario,'Comentario:') }}
                            {{ form_errors(edit_form.comentario) }}
                            {{ form_widget(edit_form.comentario,{'attr':{'class':'form-control','placeholder':'No requerido: Comentario'}}) }}

                        </div>
                        <div class="form-group col-lg-6">

                            {{ form_label(edit_form.ubicacion,'Ubicacion:') }}
                            {{ form_errors(edit_form.ubicacion) }}
                            {{ form_widget(edit_form.ubicacion,{'attr':{'class':'form-control','placeholder':'No requerido'}}) }}

                        </div>

                        <div class="form-group col-lg-6">
                            <label class="checkbox-inline">
                                {{ form_errors(edit_form.estatus) }}
                                {{ form_widget(edit_form.estatus) }}
                                Activo
                            </label>
                            <label class="checkbox-inline">
                                {{ form_errors(edit_form.valido) }}
                                {{ form_widget(edit_form.valido) }}
                                Valido Fisicamente
                            </label>
                        </div>

                        <div class="form-group col-lg-6">

                            {{ form_label(edit_form.foto,'Foto:') }}
                            {{ form_errors(edit_form.foto) }}
                            {{ form_widget(edit_form.foto,{'attr':{'class':'form-control','placeholder':'No requerido'}}) }}

                        </div>

                        <div class="form-group col-lg-6">

                            {{ form_label(edit_form.responsable,'Responsable:') }}
                            {{ form_errors(edit_form.responsable) }}
                            {{ form_widget(edit_form.responsable,{'attr':{'class':'form-control'}}) }}

                        </div>
                        <div class="form-group col-lg-6">

                            {{ form_label(edit_form.categoria,'Categoria:') }}
                            {{ form_errors(edit_form.categoria) }}
                            {{ form_widget(edit_form.categoria,{'attr':{'class':'form-control'}}) }}

                        </div>

                    </div></div> </div>
            <ul class="list-inline">
                <li>{{ form_widget(edit_form.submit,{'label':'Actualizar','attr':{'class':'btn btn-default'}}) }}</li>{{ form_end(edit_form) }}
                <li>{{ form(delete_form) }}</li>
                <li><a href="{{ path('bien') }}" class="btn btn-default" >Ir a lista</a></li>
                <li><a href="{{ path('bien_show', { 'id': entity.id }) }}" class="btn btn-default" >Mostrar</a></li>
            </ul>

        </div>
    </div>

{% endblock %}

