{% extends 'InventarioBundle::layout.html.twig' %}

{% block titulo %}
    Edicion de Bien
{% endblock %}

{% block body -%}
    {% for flashMessage in app.session.flashbag.get('notice') %}

        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flashMessage }}
        </div>

    {% endfor %}
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Datos del bien
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">

        {{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}

        <div class="form-group">

            {{ form_label(edit_form.noInventario,'Numero de inventario:') }}
            {{ form_errors(edit_form.noInventario) }}
            {{ form_widget(edit_form.noInventario,{'attr':{'class':'form-control'}}) }}

        </div>

        <div class="form-group">

            {{ form_label(edit_form.folioSicop,'Folio:') }}
            {{ form_errors(edit_form.folioSicop) }}
            {{ form_widget(edit_form.folioSicop,{'attr':{'class':'form-control'}}) }}

        </div>


        <div class="form-group">
            {{ form_label(edit_form.fechaAdq,'Fecha:') }}
            {{ form_errors(edit_form.fechaAdq) }}
            {# {{ form_widget(form.fecha) }} #}
            <div ng-controller="DatepickerCtrl" class="row" ng-init="fecha='{{ entity.fechaAdq|date("d-m-Y") }}';">
                {#<div>
                    {{ form_label(form.fecha,'Fecha:') }}
                </div>
                <div>
                    {{ form_errors(form.fecha) }}
                </div>#}
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="date" id="ccm_inventariobundle_bien_fechaAdq" name="ccm_inventariobundle_bien[fechaAdq]" required="required" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="fecha" is-open="opened" min-date="minDate" max-date="'2017-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                    </p>
                </div>
                {% do edit_form.fechaAdq.setRendered %}
            </div>
        </div>

        <div class="form-group">

            {{ form_label(edit_form.descripcion,'Descripción:') }}
            {{ form_errors(edit_form.descripcion) }}
            {{ form_widget(edit_form.descripcion,{'attr':{'class':'form-control'}}) }}

        </div>
        <div class="form-group">

            {{ form_label(edit_form.marca,'Marca:') }}
            {{ form_errors(edit_form.marca) }}
            {{ form_widget(edit_form.marca,{'attr':{'class':'form-control'}}) }}

        </div>
        <div class="form-group">

            {{ form_label(edit_form.modelo,'Modelo:') }}
            {{ form_errors(edit_form.modelo) }}
            {{ form_widget(edit_form.modelo,{'attr':{'class':'form-control'}}) }}

        </div>
        <div class="form-group">

            {{ form_label(edit_form.serie,'Serie:') }}
            {{ form_errors(edit_form.serie) }}
            {{ form_widget(edit_form.serie,{'attr':{'class':'form-control'}}) }}

        </div>
        <div class="form-group">

            {{ form_label(edit_form.comentario,'Comentario:') }}
            {{ form_errors(edit_form.comentario) }}
            {{ form_widget(edit_form.comentario,{'attr':{'class':'form-control'}}) }}

        </div>
        <div class="form-group">

            {{ form_label(edit_form.ubicacion,'Ubicacion:') }}
            {{ form_errors(edit_form.ubicacion) }}
            {{ form_widget(edit_form.ubicacion,{'attr':{'class':'form-control'}}) }}

        </div>

        <div class="form-group checkbox">
            <label>
                {{ form_errors(edit_form.validoFis) }}
                {{ form_widget(edit_form.validoFis) }}
                Valido Fisicamente
            </label>
        </div>
        <div class="form-group">

            {{ form_label(edit_form.tipoAdq,'Tipo de adquisicion:') }}
            {{ form_errors(edit_form.tipoAdq) }}
            {{ form_widget(edit_form.tipoAdq,{'attr':{'class':'form-control'}}) }}

        </div>

        <div class="form-group checkbox">
            <label>
                {{ form_errors(edit_form.estatus) }}
                {{ form_widget(edit_form.estatus) }}
                Activo
            </label>
        </div>

        <div class="form-group">

            {{ form_label(edit_form.foto,'Foto:') }}
            {{ form_errors(edit_form.foto) }}
            {{ form_widget(edit_form.foto,{'attr':{'class':'form-control'}}) }}

        </div>

        <div class="form-group">

            {{ form_label(edit_form.responsable,'Responsable:') }}
            {{ form_errors(edit_form.responsable) }}
            {{ form_widget(edit_form.responsable,{'attr':{'class':'form-control'}}) }}

        </div> <div class="form-group">

            {{ form_label(edit_form.categoria,'Categoria:') }}
            {{ form_errors(edit_form.categoria) }}
            {{ form_widget(edit_form.categoria,{'attr':{'class':'form-control'}}) }}

        </div>

{#
        <div class="form-group">
            {{ form_widget(edit_form.submit,{'label':'Actualizar','attr':{'class':'btn btn-default'}}) }}
        </div>
        {{ form_end(edit_form) }}#}

        {#<p>
            {{ form(delete_form) }}
            <a href="{{ path('bien') }}" class="btn btn-default" >Ir a lista</a>
            <a href="{{ path('bien_show', { 'id': entity.id }) }}" class="btn btn-default" >Mostrar</a>
        </p>#}
                    </div></div></div></div>
        {#<ol class="breadcrumb">
            <li>{{ form_widget(edit_form.submit,{'label':'Actualizar','attr':{'class':'btn btn-default'}}) }} /</li>
            <li>{{ form(delete_form) }}</li>
            <li><a href="{{ path('bien') }}" class="btn btn-default" >Ir a listasasdcs</a></li>
            <li><a href="{{ path('bien_show', { 'id': entity.id }) }}" class="btn btn-default" >Mostrar</a></li>
        </ol>
        {{ form_end(edit_form) }}#}

        <ul class="list-inline">
            <li>{{ form_widget(edit_form.submit,{'label':'Actualizar','attr':{'class':'btn btn-default'}}) }}</li>{{ form_end(edit_form) }}
            <li>{{ form(delete_form) }}</li>
            <li><a href="{{ path('bien') }}" class="btn btn-default" >Ir a listasasdcs</a></li>
            <li><a href="{{ path('bien_show', { 'id': entity.id }) }}" class="btn btn-default" >Mostrar</a></li>
        </ul>

    </div>
</div>
{% endblock %}
