{% extends 'InventarioBundle::layout.html.twig' %}

{% block titulo %}
    <i class="fa fa-laptop"></i> Bienes
    <p class="text-right">

        <a href="{{ path('bien_new') }}" class="btn btn-success btn-sm" role="button">Crear bien</a>
    </p>
{% endblock %}

{% block body -%}
    {% for flashMessage in app.session.flashbag.get('notice') %}

        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flashMessage }}
        </div>

    {% endfor %}
    {#<table class="table table-striped table-bordered table-hover" id="dataTables-example">#}
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Descripcion</th>
            <th>Comentario</th>
            <th>Ubicacion</th>
            <th>Validofis</th>
            <th>Responsable</th>
            <th>Estatus</th>
            <th>Acciones</th>

        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
        <tr>
            <td><a href="{{ path('bien_show', { 'id': entity.id }) }}">{{ entity.descripcion }}</a></td>
            <td>{{ entity.comentario }}</td>
            <td>{{ entity.ubicacion }}</td>
            <td>{% if entity.valido %} Si {% else %} No {% endif %}</td>
            <td>{% if entity.responsable %}{{ entity.responsable.nombre }} {{ entity.responsable.apellidos }}{% endif %}</td>
            <td>{% if entity.estatus %} Activo {% else %} Inactivo {% endif %}</td>

            {#
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.modified %}{{ entity.modified|date('Y-m-d H:i:s') }}{% endif %}</td>#}
            <td>
                <ul>
                    <li>
                        <a href="{{ path('bien_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('bien_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                {#<div ng-controller="ModalDemoCtrl">
                    <script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3 class="modal-title">I'm a modal!</h3>
                        </div>
                        <div class="modal-body">
                            <ul>
                                <li ng-repeat="item in items">
                                    <a href="https://angular-ui.github.io/bootstrap/#/getting_started" ng-click="selected.item = item">{{ 'item' }}</a>
                                </li>
                            </ul>
                            &#123;&#35;Selected: <b>{{ selected.item }}</b>&#35;&#125;
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="ok()">OK</button>
                            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>
                    <button class="btn btn-default" ng-click="open('sm')">acciones</button>
                </div>#}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block js %}


    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://www.datatables.net/release-datatables/media/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://www.datatables.net/release-datatables/extensions/TableTools/css/dataTables.tableTools.css">

    <style type="text/css" class="init"></style>
    <script src="https://www.datatables.net/release-datatables/media/js/jquery.js"></script>
    <script src="https://www.datatables.net/release-datatables/media/js/jquery.dataTables.js"></script>
    <script src="https://www.datatables.net/release-datatables/extensions/TableTools/js/dataTables.tableTools.js"></script>
    <script type="text/javascript" language="javascript" class="init">

        $(document).ready(function() {
            $('#example').DataTable( {
                dom: 'T<"clear">lfrtip',
                tableTools: {
                    "sSwfPath": "//cdn.datatables.net/tabletools/2.2.2/swf/copy_csv_xls_pdf.swf"
                }
            } );
        } );


    </script>

{% endblock %}
